.container{
    display: grid;
    grid-template-columns: repeat(19, 40px);
    grid-template-rows: repeat(22, 40px);
    width: fit-content;
    background-color: antiquewhite;
    
    
}
.mur{
    background-image: url("img_pacman/mur.gif");
}
.sol {
    background-image: url("img_pacman/sol.gif");
}
.bonbon {
    background-image: url("img_pacman/bonbon.gif");
}